<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.smhrd.db.BoardMapper">
  <insert id="writeBoard" parameterType="BoardVO">
  INSERT INTO WEB_BOARD VALUES(NUM_BOARD.NEXTVAL, #{title}, #{writer}, #{filename}, #{content}, SYSDATE)
  </insert>
  
  <select id="showBoard" resultType="BoardVO">
  SELECT * FROM WEB_BOARD
  </select>
  
  <select id="detailBoard" resultType="BoardVO">
  SELECT * FROM WEB_BOARD WHERE NUM=#{num}
  </select>
  <delete id="deleteBoard">
  DELETE WEB_BOARD WHERE NUM=#{num}
  </delete>
  </mapper>