<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.db.MemberMapper">
  <insert id="join" parameterType="MemberVO">
  INSERT INTO WEB_MEMBER VALUES(#{email},#{pw},#{tel},#{address})
  </insert>
  
  <select id="login" parameterType="MemberVO" resultType="MemberVO">
  SELECT * FROM WEB_MEMBER WHERE EMAIL=#{email} AND PW=#{pw}
  </select>
  <update id="update" parameterType="MemberVO">
  UPDATE WEB_MEMBER SET TEL=#{tel},ADDRESS=#{address} WHERE EMAIL=#{email} AND PW=#{pw}
  </update>
  <!-- List 안에 다음 객체의 타입  -->
  <select id="showMember" resultType="MemberVO">
  SELECT * FROM WEB_MEMBER WHERE NOT(EMAIL='admin')
  </select>
  <delete id="deleteMember" parameterType="String">
  DELETE FROM WEB_MEMBER WHERE EMAIL=#{email}
  </delete>
  <select id="idCheck" resultType="MemberVO">
  SELECT * FROM WEB_MEMBER WHERE EMAIL=#{email}
  </select>
</mapper>