@charset "UTF-8";

/* 메뉴 폰트 - 긱블말랑이체 */
@font-face {
	font-family: 'GeekbleMalang2WOFF2';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/GeekbleMalang2WOFF2.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

/* 제목 폰트 - g마켓산스미디엄 */
@font-face {
	font-family: 'GmarketSansMedium';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* 내용 폰트 - 프리텐다드 */
@font-face {
	font-family: 'Pretendard-Regular';
	src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}