@charset "UTF-8";
@import url(./fontstyle.css);


*{
	margin: 0;
	padding: 0;
	border: 0px; 
}

.Group {
	width: 60%;
/*	height: auto;*/
	margin-left: auto;
	margin-right: auto;
	padding-top: 0px;
/*  	background-color: blue;  */
}

.upload {
/*	display: table-row;*/
padding-top: 50px;
display: table;
	width: 100%;
	height: auto;
	position: relative;
/*	background-color: green;*/
	margin-top: 100px;
   align-items: center;
/*    background-color: thistle;*/
}


.uploadtitle {
	text-align: left;
	font-family: "GmarketSansMedium";
	margin-left: 30px;
    font-size: 1.3em;
	
}

.box1 {
	display: table-row;
   width: 1200px;
	height: 800px;
	display: inline-block;

	justify-content: center;
	align-items: center;
	position:relative;
	border-radius: 15px;
/*	box-shadow: 1px 1px 20px lightgray;*/

}


.magazine {
   width: 1200px;
/*   height: auto;*/
   justify-content : center;
/*   background-color: blue;*/
}

.webdiv {
  width: 370px;
   height: 210px;
   margin: 0 15px;
   margin-top: 20px;
   float: left;
   /*border: dashed 3px lightgray;*/
   border-radius: 15px;
   justify-content : center;
   position: relative;
   margin-bottom: 150px;
}

.web {
  width: 370px;
   height: 210px;
   margin-top: 10px;
   justify-content : center;
   position: absolute;
   overflow: hidden;
   border-radius: 15px;
}
.webImg {
   border-radius: 15px;
    width: 370px;
   height: 210px;
   transition: all 0.3s linear;
}

.webImg:hover {
	transform: scale(1.2);
}


.webtitle {
   width: 420px;
   height: 45px;
   text-align: left;
   position: absolute;
   margin-top: 15px;
   top: 105%;
   margin-left: 0px;
   left: 0%;
/*   background-color: red;*/
}

.webname {
   font-family: "GmarketSansMedium";
   font-size: 25px;
}
