<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>LogoutService</servlet-name>
  	<display-name>LogoutService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.LogoutService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MypageSelectService</servlet-name>
  	<display-name>MypageSelectService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.MypageSelectService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CockMenuSelectService</servlet-name>
  	<display-name>CockMenuSelectService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.CockMenuSelectService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CockMenuUpdateService</servlet-name>
  	<display-name>CockMenuUpdateService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.CockMenuUpdateService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CockRankSelectService</servlet-name>
  	<display-name>CockRankSelectService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.CockRankSelectService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WebMagazineSelectService</servlet-name>
  	<display-name>WebMagazineSelectService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.WebMagazineSelectService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ContentsService</servlet-name>
  	<display-name>ContentsService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.ContentsService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ChallBoardInsertService</servlet-name>
  	<display-name>ChallBoardInsertService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.ChallBoardInsertService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ChallBoardSelectService</servlet-name>
  	<display-name>ChallBoardSelectService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.ChallBoardSelectService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WebBoardSelectService</servlet-name>
  	<display-name>WebBoardSelectService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.WebBoardSelectService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WebBoardInsertService</servlet-name>
  	<display-name>WebBoardInsertService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.WebBoardInsertService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>beforeJoin</servlet-name>
  	<display-name>beforeJoin</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.beforeJoin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>JoinService</servlet-name>
  	<display-name>JoinService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.JoinService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmailCheck</servlet-name>
  	<display-name>EmailCheck</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.EmailCheck</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginService</servlet-name>
  	<display-name>LoginService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.LoginService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Logout</servlet-name>
  	<display-name>Logout</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LogoutService</servlet-name>
  	<url-pattern>/LogoutService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MypageSelectService</servlet-name>
  	<url-pattern>/MypageSelectService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CockMenuSelectService</servlet-name>
  	<url-pattern>/CockMenuSelectService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CockMenuUpdateService</servlet-name>
  	<url-pattern>/CockMenuUpdateService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CockRankSelectService</servlet-name>
  	<url-pattern>/CockRankSelectService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WebMagazineSelectService</servlet-name>
  	<url-pattern>/WebMagazineSelectService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ContentsService</servlet-name>
  	<url-pattern>/ContentsService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ChallBoardInsertService</servlet-name>
  	<url-pattern>/ChallBoardInsertService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ChallBoardSelectService</servlet-name>
  	<url-pattern>/ChallBoardSelectService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WebBoardSelectService</servlet-name>
  	<url-pattern>/WebBoardSelectService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WebBoardInsertService</servlet-name>
  	<url-pattern>/WebBoardInsertService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>beforeJoin</servlet-name>
  	<url-pattern>/beforeJoin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>JoinService</servlet-name>
  	<url-pattern>/JoinService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmailCheck</servlet-name>
  	<url-pattern>/EmailCheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginService</servlet-name>
  	<url-pattern>/LoginService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/Logout</url-pattern>
  </servlet-mapping>
</web-app>
