@charset "UTF-8";

@import url(./fontstyle.css);

/*
-----------------------------------
	MainHeader
-----------------------------------
*/

*{
	margin: 0;
	padding: 0;
}

#menu {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 100px;
	font-family: "GeekbleMalang2WOFF2";
	position: absolute;


}

#logo {
	display: flex;
	align-items: center;
}

.headmenu {
	display: flex;
	list-style-type: none;
	font-size: 1.25rem;
	align-items: center;
	width: 100%;
	background-color: white;
	object-fit: fill;
	justify-content: center;
}

.headmenu>li {
	margin: 0 40px;
	justify-content: space-between;
}

.joinBtn {
	background-color: #CC9933;
	padding: 15px 20px;
	border-radius: 10px;
}

.joinBtn:hover {
	background-color: #0d4660;
	color: white;
	text-decoration: none;
}


a {
	text-decoration: none;
}

.joinBtn>a {
	color: white;
}


/*
----------------------------------
	HeaderMenu
----------------------------------
*/


.headmenu a {
	position: relative;
	overflow: hidden;
	display: block;
	text-align: center;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	padding: 0;
	color: black;
}

.joinBtn a {
	color: white;
}

.headmenu a div {
	display: block;
	-webkit-transition: -webkit-transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: -webkit-transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.headmenu a:after {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	content: attr(data-hover);
	display: inline;
	text-align: center;
	-webkit-transition: top 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: top 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.headmenu a:hover {
	color: #CC9933;
}

.headmenu a:hover div {
	color: #CC9933;
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
}

.headmenu a:hover:after {
	top: 0;
}

.headmenu a:active {
	-webkit-animation-name: rubberBand;
	animation-name: rubberBand;
}




/*
----------------------------------
	MainPage
----------------------------------
*/

/*body*/
body {
	width: 100%;
	height: 100%;
	text-align: center;
}

#banner {
	background-image: url(../img/배경7.jpg);
	height: 600px;
	width: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.back {
	height: 700px;
	width: 100%;
}

#ani {
	font-size: 2vw;
	width: 258px;
	color: white;
	font-family: sans-serif;
	position: absolute;
	top: 15%;
	left: 15%;
	text-align: left;
	animation: slide 1.5s ease-out;
}




/* 애니메이션 슬라이드 효과 : 나타내기 */
@keyframes slide {
	from {
		left: -100px;
		opacity: 0;
	}

	to {
		left: 400px;
		opacity: 1;
	}
}

/* 애니메이션 슬라이드 효과 : 사라지기 */
@keyframes disappear {
	from {
		left: 400px;
		opacity: 1;
	}

	to {
		left: -100px;
		opacity: 0;
	}
}
#intro {
	text-align: center;
	font-family: "GmarketSansMedium";
	font-size: 2em;
	
}
h2 {
	font-family: "GmarketSansMedium";
	margin-left: 12%;
	font-size: 2em;
}


.grid {
	height: 1000px;
	margin-top: 50px;
}

.grid1 {
	width: 27%;
	height: 70%;
	margin-top: 5%;
	margin-left: 12%;
	margin-bottom: 10%;
	float: left;
	background-image: url(./img/코스모폴리탄.PNG);
	background-size: 100% 100%;
	border-radius: 5%;
}

.grid2 {
	width: 48%;
	height: 90%;
	margin-top: 2%;
	margin-right: 7%;
	margin-bottom: 2%;
	float: right;
	
}

.grid3 {
	width: 96%;
	height: 46.7%;
	margin-right: 50%;
}

.grid4 {
	width: 46%;
	height: 90%;
	float: left;
	margin-top: 2%;
	margin-left: 2%;
	margin-right: 1%;
	margin-bottom: 2%;
	background-image: url(./img/블루하와이안.PNG);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border-radius: 5%;
}

.grid6 {
	width: 46%;
	height: 90%;
	float: left;
	margin-top: 4%;
	margin-left: 2%;
	margin-right: 1%;
	margin-bottom: 3%;
	font-family: "GmarketSansMedium";
	font-size: 3em;
	text-align: right;
}

.grid5 {
	width: 46%;
	height: 90%;
	float: left;
	margin-top: 2%;
	margin-right: 1%;
	margin-bottom: 2%;
	background-image: url(./img/깔루아밀크.PNG);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border-radius: 5%;
}

.grid7 {
	width: 46%;
	height: 90%;
	float: right;
	margin-top: 2%;
	margin-left: 1%;
	margin-right: 2%;
	margin-bottom: 2%;
	background-image: url(./img/섹스온더비치.PNG);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border-radius: 5%;
}

.grid1:hover {
	box-shadow: 1px 1px 20px black
}

.grid5:hover {
	box-shadow: 1px 1px 20px black
}

.grid7:hover {
	box-shadow: 1px 1px 20px black
}

.grid4:hover {
	box-shadow: 1px 1px 20px black
}

/* footer */
.footer {
	text-align: left;
	font-family: "GmarketSansMedium";
	font-size: 15px;
	
}