@charset "UTF-8";
@import url(./fontstyle.css);

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.group {
    width: 60%;
    height: 540px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 10px 0 10px;
    font-family: 'GmarketSansMedium';
}

li {
    list-style-type: none;
}

.boardHeader {
	width: 20%;
	margin-left: 140px;	
	margin-top: 90px;
}

.boardHeader > h1 {
    font-size: 35px;
    font-weight: 600;
    color: #d18247;
}

.boardWrite {
    padding: 0 20px 20px 20px;
    height: 480px;
    width: 1000px;
    margin-left: 60px;
}

.writeLeft {
    width: 100px;
    height: 400px;
    float: left;
    margin-left: 50px;
}

.nickName1{
    padding: 20px 20px 10px 30px;
}

.boardTitle1 {
    padding: 15px 20px 10px 30px;
}

.boardText1 {
    padding: 14px 20px 20px 30px;
}

.writeRight {
    width: 800px;
    height: 500px;
    margin-left: 150px;
}

.writeRight input, textarea {
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 10px;
}

.nickName2 input {
    width: 90%;
    margin-right: 50px;
    margin-top: 12px;
}

.boardTitle2 input {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 90%;
    float: left;
}

.boardText2 textarea {
    min-width: 90%;
    max-width: 90%;
    min-height: 300px;
    max-height: 300px;
    margin-top: -10px;
    vertical-align: top;
    resize: none;
    float: left;
}

.boardText2 input {
    border: none;
    box-shadow: none;
    padding: 10px;
    float: left;
}

.writeBtn {
    width: 100px;
    height: 50px;
    margin-right: 20px;
    margin-top: 10px;
    float: right;
}

.writeBtn input {
    background-color: #d18247;
    padding: 5px 10px 5px 10px;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 20px;
}