@charset "UTF-8";
@import url(./fontstyle.css);

/* 초기값 */
* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

/* 전체 내용 기준 박스 */
.group {
    width: 60%;
    height: 1400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding: 30px 10px 0 10px;
    font-family: 'GmarketSansMedium';
}

a {
	text-decoration: none;
}

/* 
------------------------------------
    게시글 상세내용 박스
------------------------------------
*/

.boardHeader1 {
	width: 180px;
	height: 60px;
    margin-bottom: 20px;
    margin-left: 70px;
}

.boardHeader1 > h1 {
	font-size: 45px;
    font-weight: 600;
    color: #d18247;
}

.contents {
    width: 1000px;
    height: auto;
    margin-top: 20px;
    margin-left: 68px;
}

.titleAndGood {
    width: 96%;
    height: 60px;
    margin-left: 20px;
    margin-bottom: 6px;
    border-radius: 10px;
    border: solid 1px #e0cca3;
}

.nickAndDate {
    width: 96%;
    height: 54px;
    margin-left: 20px;
    margin-bottom: 5px;
    border-radius: 10px;
    border: solid 1px #e0cca3;
}

p {
    margin: 6px;
    font-weight: bolder;
}

#good{
	cursor: pointer;
}

/* 제목 줄 */
.boardTitle1 {
    width: 620px;
    margin: 5px;
    float: left;
    padding: 8px 0 8px 14px;
}

.boardTitle2 {
    width: 520px;
    margin-left: 70px;
    padding: 5px 0 5px 10px;
    margin-top: 1px;
    border-left: solid 2px #e0cca3;
}

.boardGood1 {
    width: 80px;
    margin: 11px 10px 10px 200px;
    padding: 6px 17px 5px 5px;
    border-radius: 10px;
    background-color: #d18247;
    font-size: 12px;
    color: white;
    float: right;
    display: flex;
}

#good {
	background-color: #d18247;
	padding: 2px 0 7px 0;
	margin-left: 5px;
	color: white;
	
}

.boardTitle1 p {
    float: left;
}

.boardGood2 {
	width: 45px;
	height: 25px;
    margin-right: 5px;
    padding: 7px 10px 0 5px;
    font-size: 14px;
}

/* 작성자 줄 */
.nickName1 {
    width: 450px;
    margin: 5px;
    float: left;
    padding: 6px 0 8px 14px;
}

.nickName2 {
    width: 360px;
    margin-left: 70px;
    padding: 5px 0 5px 12px;
    margin-top: 1px;
    border-left: solid 2px #e0cca3;
}

.boardTitle1 p {
    float: left;
}

.date1 {
    width: 450px;
    margin: 5px;
    float: left;
    padding: 6px 0 8px 14px;
}

.date2 {
    width: 360px;
    margin-left: 70px;
    padding: 5px 0 5px 12px;
    margin-top: 1px;
    border-left: solid 2px #e0cca3;
}

.nickAndDate p {
    float: left;
}

/* 내용 */
.boardText1 {
    width: 96%;
    height: auto;
    margin-left: 20px;
    border-radius: 10px;
    border: solid 1px #e0cca3;
}

.boardText1 > p {
    width: 80px;
    padding: 10px 0 8px 5px;
}	

.boardText2 {
    width: 900px;
    height: auto;
    padding: 20px 10px 10px 10px;
    margin: 0 auto;
    border-top: solid 2px #e0cca3;
}

.boardText2 > img{
	max-width: 45%;
	width: auto !important;
	height: auto;
}

.boardText2 > p {
	margin-top: 5px;
}

/* 이동박스 */
.button {
    width: 200px;
    height: 30px;
    margin: 14px 0 50px 460px;
    justify-content: center;
}

.btn1 {
    padding: 10px 15px;
    margin: 0 5px;
    border-radius: 5px;
    background-color: #d18247;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.btn1 > a {
	color: white !important;
	text-decoration: none;
}

.btn1:active {
	color: white;
    background-color: #0d4660;
}

/* 댓글 박스 */
.boardHeader2 {
	width: 200px;
	height: 26px;
	margin-bottom: 30px;
}

.boardHeader2 > h2 {
	font-size: 30px;
    font-weight: 600;
    color: #181818;
}

.boardRepleBox {
    width: 1000px;
    height: auto;
    position: relative;
    margin: 0 auto;
}

.boardReple textarea {
    min-width: 94%;
    max-width: 94%;
    min-height: 100px;
    max-height: 100px;
    margin-top: -10px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 6px;
    border: solid 1px #e0cca3;
    vertical-align: top;
    resize: none;
    font-size: 14px;
}

.inputAndBtn {
    width: 96.4%;
    height: 30px;
    margin-left: 20px;
    display: flex;
    justify-content: flex-end;
}

.writerinput {
    border-radius: 5px;
    padding-left: 10px;
    border: solid 1px #d18247;
}

.replebtn {
	padding: 0 10px;
    border-radius: 5px;
    margin-left: 5px;
    background-color: #d18247;
    color: white;
    cursor: pointer;
    margin-right: 5px;
    
}

/* 구분선 */
.contour {
    width: 96%;
    height: 28px;
    margin: 30px 0 20px 20px;
    border-top: solid 2px #e0cca3;
}

.RepleListBox {
    min-width: 94%;
    max-width: 94%;
    min-height: 180px;
    max-height: auto;
    margin-top: -10px;
    padding: 10px;
    margin-left: 20px;
    margin-bottom: 6px;
    vertical-align: top;
    resize: none;
    font-size: 14px;
    position: relative;
}

.reple {
    width: 958px;
    height: auto;
}

.replebox1 {
	width: 958px;
    height: auto;
    margin-top: 20px;
    margin-left: -10px;
    border-radius: 10px;
    padding: 10px 0;
    border: solid 1px #e0cca3;
}

.repleNick {
    width: 96%;
    padding: 5px 0;
    margin: 0 auto;
}

.repleNick > p {
	width: 96%;
	height: 22px;
	display: flex;
	float: left;
	font-weight: bolder;
    font-size: 16px;
	margin: auto 0;
}

.repleCon {
	width: 96%;
	height: auto;
	padding: 5px 0;
	display: flex;
	margin: 0 auto;
	font-size: 14px;
}

.repleDate {
    width: 70px;
    padding: 5px 10px;
    margin-left: 10px;
    float: left;
}

.btn4 {
	padding: 0 5px;
	font-size: 20px;
    cursor: pointer;
    background-color: white;
}

.btn4 > a {
	color: white;
	padding: 5px 5px 2px 5px;
	float: right;
	background-color: aquamarine;
}

.btn4 > p {
	margin: auto 0;
}

