@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

@import url(./fontstyle.css);

.RankGroup {
	/* border: dashed 3px gray;
	border-radius: 15px; */
	width: 80%;
	height: 350px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	padding-top: 50px;
 	/* background-color: gray;  */
}

h3 {
	font-family: "GmarketSansMedium";
	font-size: 30px;
}

.cocktailsBox {
	width: 100%;
	height: 300px;
	justify-content : center;
	display: flex;
/* 	background-color: gray; */
}


.next {
	width: 50px;
	height: 260px;
	margin: 0 14px;
	margin-top: 20px;
	justify-content : center;
	display: flex;
/* 	background-color: blue; */
	
}

.nextimg {
	margin-top: 60px;
    height: 50%;
}
.recipe {
	width: 230px;
	height: 260px;
	margin: 0 14px;
	margin-top: 20px;
	float: left;
	/*border: dashed 3px lightgray;
	border-radius: 15px;*/
	justify-content : center;
	position: relative;
/* 	background-color: red; */
}

.recipediv {
	width: 170px;
	height: 200px;
	/* border-radius: 15px; */
	margin-top: 10px;
	justify-content : center;
	position: absolute;
  	left: 12%;
  	overflow: hidden;
}
.recipeImg {
	border-radius: 15px;
	width: 170px;
	height: 200px;
	transition: all 0.2s linear;
	
}

.recipeImg:hover {
	transform: scale(1.2);
}

.recipetitle {
	width: 170px;
	height: 45px;
	text-align: center;
	position: absolute;
	top: 83%;
  	left: 12%;
}

.recipename1 {
	font-family: "GmarketSansMedium";
	font-size: 17px;
}
.recipename2 {
	font-family: "Pretendard-Regular";
	font-size: 14px;
	
}